*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.container{
  width: 100%;
  min-height: 100vh;
  background: rgb(7, 3, 44);
  padding: 10px;
}

.todo-app{
  width: 100%;
  max-width: 540px;
  background: whitesmoke;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.todo-app h2{
  color: black;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.filas{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: gainsboro;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input{
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

button{
  border: none;
  outline: none;
  padding: 3px 35px;
  background: rgb(7, 3, 44);
  color: white;
  font-size: 40px;
  cursor: pointer;
  border-radius: 30px;
}

.botonEliminar{
  border: none;
  outline: none;
  padding: 5px 15px;
  background: rgb(7, 3, 44);
  color: white;
  font-size: 17px;
  cursor: pointer;
  border-radius: 30px;
  float: right;
}

ul li{
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
}

.tachado{
  text-decoration:line-through;
}

.fechas{
  color: rgb(104, 104, 104);
  font-size: 14px;
  padding-top: 0px;
}